header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: pink;
    border: 1px solid brown;
    height: 150px;
    width: 100%;
    font-family: cursive;
}

body {
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive;
}

main {
    width: 65%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px brown solid;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.cart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 5px 5px 5px grey;
}

.all-cupcakes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cupcake-container {
    border: 2px brown solid;
    border-radius: 10px;

}